
.App {
  text-align: center;
  background-image: url("./assets/images/bg.jpg");
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100vw;
  
}

.to-do-box {
  width: 95%;
  min-height: 50%;
  margin: 20px auto;
}
